:root {
	--mainwhite: #ffffff;
	--mainblue: #2a2a72;
	--maindark: #000;
}

body {
	background: var(--mainwhite) !important;
}

.navbar {
	justify-content: flex-start !important;
  }

  .cart-icon {
	cursor: pointer;
	font-size: 1.2rem;
	color: var(--mainYellow);
  }
  